/* SideMenu.css */

.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.side-menu button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.side-menu button:hover {
    color: #007bff;
}
